.DS_Store
.vscode

cpp/bin/
cpp/.cache/
cpp/build/
cpp/lib/
cpp/compile_commands.json
cpp/vcpkg_installed/

c/bin/
c/build/
c/lib/
c/.cache/
c/compile_commands.json

rust/target/
rust/Cargo.lock

julia/Manifest.toml

python/de.egg-info
python/**/__pycache__
python/uv.lock
